# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output directories
dist/
dist-ssr/

# Vite build output
/public/

# Environment files
.env

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude other files and directories
*.local

# Custom build output (update if needed)
frontend/dist/
backend/api/output/ # Add if you have specific build outputs here
